//====================================================================================================
.search-result {
	display: flex;
	flex-wrap: wrap;

	@media (max-width: 1180px) {
		display: block;
	}

	&__title {
		margin: 0px 0px 40px 0px;
		flex: 1 1 100%;

		@media (max-width: $md4+px) {
			margin: 0px 0px 20px 0px;
		}
	}

	&__header {
		flex: 1 1 100%;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 40px 0px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 1600px) {
			padding: 0;
		}

		@media (max-width: $md2+px) {
			flex-wrap: wrap;
			justify-content: flex-start;
		}

		@media (max-width: 840px) {
			display: block;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 20px 0px;
		}
	}

	// .search-result__empty

	&__empty {}

	// .search-result__text

	&__text {
		font-size: 18px;
		line-height: 24px;
		font-weight: 600;

		@media (max-width: $md2+px) {
			margin: 0px 0px 10px 0px;
		}

		@media (max-width: $md5+px) {
			font-size: 14px;
			line-height: 16px;
		}
	}

	// .search-result__req-name

	&__req-name {
		color: #004ea6;
	}

	// .search-result__count

	&__count {}

	&__sort {
		@media (max-width: $md3+px) {
			flex-direction: column;
		}
	}

	&__wrapper {
		display: flex;
		margin: 0px 0px 40px 0px;
		width: 100%;

		@media (max-width: 840px) {
			display: block;
		}
	}

	&__category {
		&._init {
			.catalog__category-btn::after {
				content: "";
				display: block;
				width: 20px;
				height: 14px;
				transition: all 0.3s ease 0s;
				background: url(../img/icons/arrow_down_black.svg) center center no-repeat;
			}

			.catalog__category-btn._active::after {
				transform: rotate(-180deg);
			}
		}
	}

	&__category-btn {
		cursor: pointer;
		display: flex;
		width: 100%;
		height: 46px;
		border-radius: 6px;
		justify-content: space-between;
		align-items: center;
		color: #141414;
		font-size: 18px;
		line-height: 24px;
		font-weight: 600;
	}

	&__category-content {}

	&__category-link {
		display: block;
		font-size: 18px;
		line-height: 24px;
		font-weight: 600;
		color: #828282;

		&:not(:last-child) {
			margin: 0px 0px 18px 0px;
		}

		&._active {
			color: #004ea6;
			border-bottom: 2px solid #004ea6;
		}
	}

	&__content {
		flex: 1 1 auto;
		display: flex;
		flex-flow: row wrap;
		align-self: flex-start;

		&_col {
			.card {
				flex: 0 1 25%;
				padding: 22px 40px;

				@media (max-width: 1770px) {
					flex: 0 1 33.333%;
				}

				@media (max-width: 1250px) {
					flex: 1 1 50%;
				}

				@media (max-width: $md4+px) {
					flex: 0 1 50%;
					padding: 10px;
				}
			}
		}
	}

	&__card {}

	.pagging {
		padding: 0;
		margin: 40px 0px 40px 0px;
	}
}