.shop-list {
	max-width: 1400px;
	margin-bottom: 100px;

	// .shop-list_empty

	&_empty {
		.shop-list__title {
			margin-right: 0;
		}

		.shop-list__main {
			display: none;
		}

		.shop-list__header .shop-list__subtitle {
			display: none;
		}

		.shop-list__empty {
			display: flex;
		}
	}

	// .shop-list__main

	&__main {}

	// .shop-list__header

	&__header {
		display: flex;
		align-items: flex-end;
		margin-bottom: 30px;
		gap: 20px;
		flex-wrap: wrap;
	}

	// .shop-list__title

	&__title {
		margin-right: 30px;
	}

	// .shop-list__subtitle

	&__subtitle {
		font-weight: 600;
		font-size: 18px;
	}

	// .shop-list__buttons

	&__buttons {
		display: flex;
		margin-bottom: 30px;

		@media (max-width: 939.98px) {
			flex-wrap: wrap;
		}
	}

	// .shop-list__btn

	&__btn {
		&:first-child {
			margin-right: 25px;

			@media (max-width: 524px) {
				margin-bottom: 15px;
			}

			@media (max-width: 479.98px) {
				margin-right: 0;
			}
		}

		&:not(:last-child) {
			height: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 240px;
			border-radius: 6px;
			flex: 0 0 240px;

			@media (max-width: 479.98px) {
				flex: 1 1 100%;
			}
		}

		&:last-child {
			flex: 1 1 auto;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			font-weight: 500;
			font-size: 18px;
			color: #000;

			img {
				margin-right: 8px;
			}

			@media (max-width: 939.98px) {
				flex: 1 1 100%;
				margin-top: 30px;
				justify-content: flex-start;
			}
		}
	}

	// .shop-list__list

	&__list {
		margin-bottom: 50px;
	}

	// .shop-list__item

	&__item {}

	// .shop-list__total

	&__total {
		font-weight: 500;
		font-size: 20px;

		@media (min-width: 479.98px) {
			display: flex;
			justify-content: space-between;
		}
	}

	// .shop-list__total-left

	&__total-left {}

	// .shop-list__total-right

	&__total-right {
		@media (min-width: 939.98px) {
			margin-right: 200px;
		}

		@media (max-width: 479.98px) {
			margin-top: 15px;
		}
	}

	// .shop-list__total-price

	&__total-price {
		font-weight: 600;
		font-size: 24px;
		margin-left: 30px;

		@media (max-width: 479.98px) {
			margin-left: 10px;
		}
	}

	// .shop-list__empty

	&__empty {
		padding-top: 60px;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		margin-bottom: 50px;
		display: none;

		.shop-list__title {
			margin-bottom: 30px;
			font-size: 30px;
			font-weight: 600;

			@media (max-width: 767px) {
				font-size: 24px;
			}
		}

		.shop-list__subtitle {
			@media (max-width: 767px) {
				font-size: 14px;
			}
		}
	}
}

.item-shop-list {
	display: flex;
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 20px;

	&:not(:last-child) {
		border-bottom: transparent;
	}

	@media (max-width: 1280px) {
		flex-wrap: wrap;
	}

	@media (max-width: 939.98px) and (min-width: 479.98px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 0px 20px;
		grid-auto-flow: row;
		grid-template-areas:
			"image image"
			"center center"
			"price buttons";
	}

	@media (max-width: 479.98px) {
		padding: 15px;
		display: block;
	}

	// .item-shop-list__image

	&__image {
		width: 100px;
		height: 100px;
		flex: 0 0 100px;
		margin-right: 25px;

		img {
			width: 100%;
			height: 100%;
			object-fit: scale-down;
		}

		@media (max-width: 939.98px) {
			margin-bottom: 15px;
			width: 100%;
			margin-right: 0;
			grid-area: image;
		}
	}

	// .item-shop-list__center

	&__center {
		flex: 1 1 auto;
		margin-right: 30px;
		display: flex;
		flex-direction: column;

		@media (max-width: 1280px) {
			flex: 0 1 80%;
			margin-right: 0;
		}

		@media (max-width: 939.98px) {
			flex: none;
			margin-bottom: 15px;
			grid-area: center;
		}
	}

	// .item-shop-list__name

	&__name {
		max-width: 555px;
		margin-bottom: 20px;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		flex: 1 1 auto;

		a {
			color: #000;
		}

		@media (max-width: 1280px) {
			max-width: none;
		}

		@media (max-width: 939.98px) {
			font-size: 18px;
		}
	}

	// .item-shop-list__article

	&__article {
		@media (max-width: 939.98px) {
			font-size: 14px;
		}
	}

	// .item-shop-list__price

	&__price {
		margin-right: 20px;
		flex: 0 0 275px;

		@media (max-width: 1280px) {
			margin-top: 30px;
			flex: 1 1 auto;
			margin-left: 125px;
		}

		@media (max-width: 939.98px) {
			flex: none;
			margin: 0;
			grid-area: price;
			margin-top: 30px;
		}
	}

	// .item-shop-list__buttons

	&__buttons {
		flex: 0 0 163px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: flex-start;

		.product__add-basket {
			margin-bottom: 0;
			margin-top: 15px;
		}

		@media (max-width: 1280px) {
			margin-top: 30px;
		}

		@media (max-width: 939.98px) {
			flex: none;
			grid-area: buttons;
		}
	}

	.card-modal {
		// .card-modal__prices

		&__prices {}

		// .card-modal__price

		&__price {}

		// .card-modal__quantity

		&__quantity {
			@media (max-width: 939.98px) {
				flex-wrap: wrap;
			}
		}

		// .card-modal__total

		&__total {
			white-space: nowrap;

			@media (max-width: 939.98px) {
				margin-top: 10px;
			}
		}
	}
}

.quantity {
	// .quantity__button

	&__button {
		// .quantity__button_minus

		&_minus {}

		// .quantity__button_plus

		&_plus {}
	}

	// .quantity__input

	&__input {}
}

.product {
	// .product__btn

	&__btn {
		// .product__btn_compare

		&_compare {}
	}

	// .product__add-basket

	&__add-basket {}
}

.cards {
	// .cards_tooltip

	&_tooltip {}
}

.button {}

.add-basket {}

@media print {
	.wrapper {
		padding-left: 0;
	}

	.page,
	.header {
		padding-left: 0;
		padding-right: 0;
	}

	.breadcrumbs,
	.footer,
	.menu-right,
	.catalog-btn,
	.shop-list__buttons,
	.item-shop-list__buttons,
	.header__icon {
		display: none;
	}

	.shop-list-header .header__info {
		display: block;
	}

	.shop-list {
		margin-top: 20px;
	}

	.header__adress {
		font-size: 13px;
	}

	.header__phone {
		font-size: 22px;
	}

	.header__mail {
		font-size: 20px;
	}

	.item-shop-list__name {
		font-size: 15px;
	}

	.shop-list__title {
		font-weight: 700;
		font-family: "Montserrat";
		font-size: 46px;
	}

	.item-shop-list {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
	}

	.item-shop-list__center {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}

	.item-shop-list__price {
		all: unset;
	}

	.item-shop-list {
		.card-modal__quantity {
			all: unset;
		}

		.quantity {
			all: unset;
		}

		.quantity__button {
			display: none;
		}

		.card-modal__total {
			all: unset;
		}

		.quantity__input {
			all: unset;
		}

		.quantity__input input {
			all: unset;
		}

		.card-modal__price {
			all: unset;
		}

		.card-modal__prices {
			all: unset;
		}

		.item-shop-list__price {
			flex: 0 0 190px;
		}

		.card-modal {
			// .card-modal__prices

			&__prices {
				margin-bottom: 20px;
				display: block;
			}

			// .card-modal__price

			&__price {
				font-size: 18px;
				font-weight: 900;
			}

			// .card-modal__quantity

			&__quantity {
				display: flex;
				align-items: center;
			}

			// .card-modal__total

			&__total {
				white-space: nowrap;
				flex: 1 1 auto;
				font-size: 18px;
				font-weight: 900;
			}
		}

		.quantity {
			flex: 0 1 30%;

			// .quantity__button

			&__button {
				// .quantity__button_minus

				&_minus {}

				// .quantity__button_plus

				&_plus {}
			}

			// .quantity__input

			&__input {
				display: flex;
				align-items: center;

				&::before {
					content: "x ";
					font-size: 20px;
					font-weight: 900;
				}

				input {
					width: 100%;
					font-size: 18px;
					font-weight: 900;
				}
			}
		}
	}
}