//====================================================================================================
.stocks {
	margin: 0px 0px 120px 0px;
	@media (max-width: $md2+px) {
		margin: 0px 0px 80px 0px;
	}
	@media (max-width: $md4+px) {
		margin: 0px 0px 60px 0px;
	}
	// .stocks__title

	&__title {
		margin: 0px 0px 60px 0px;
		@media (max-width: $md2+px) {
			margin: 0px 0px 40px 0px;
		}
		@media (max-width: $md4+px) {
			margin: 0px 0px 20px 0px;
		}
	}

	// .stocks__content

	&__content {
		@media (max-width: 1200px) {
			display: flex;
			flex-wrap: wrap;
		}
	}

	// .stocks__card

	&__card {
		&:not(:last-child) {
			margin: 0px 0px 60px 0px;
			@media (max-width: $md2+px) {
				margin: 0px 0px 30px 0px;
			}
			@media (max-width: $md4+px) {
				margin: 0px 0px 40px 0px;
			}
		}
	}
}

.card-stock {
	display: flex;
	background: #141414;
	color: #fff;
	overflow: hidden;
	min-height: 428px;
	@media (max-width: $md1+px) {
		min-height: 300px;
	}
	@media (max-width: 1200px) {
		flex-direction: column;
	}
	// .card-stock__logo

	&__logo {
		flex: 0 0 680px;
		position: relative;
		z-index: 1;
		overflow: hidden;
		@media (max-width: $md1+px) {
			flex: 0 0 490px;
		}
		@media (max-width: 1200px) {
			flex: 0 0 215px;
		}
	}

	// .card-stock__img

	&__img {
		width: 140%;
	}

	// .card-stock__content

	&__content {
		flex: 1 1 auto;
		padding: 30px 40px 30px 60px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		position: relative;
		:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}
		.card-stock__item {
			margin: 0;
		}
		@media (max-width: 1200px) {
			padding: 43px 20px 30px 20px;
		}
	}

	// .card-stock__date

	&__date {
		padding: 5px 12px;
		background: #eb5757;
		font-size: 14px;
		line-height: 14px;
		font-weight: 600;
		position: absolute;
		top: 0;
		left: 60px;
		@media (max-width: 1200px) {
			font-size: 12px;
			line-height: 12px;
			left: 0;
		}
	}

	// .card-stock__title

	&__title {
		color: #fff;
		font-size: 36px;
		line-height: 44px;
		@media (max-width: $md1+px) {
			font-size: 24px;
			line-height: 24px;
		}
		@media (max-width: 1440px) {
			font-size: 24px;
			line-height: 24px;
		}
		@media (max-width: $md4+px) {
			font-size: 18px;
			line-height: 18px;
		}
	}

	// .card-stock__desc

	&__desc {
		font-size: 18px;
		line-height: 24px;
		@media (max-width: $md4+px) {
			font-size: 14px;
			line-height: 16px;
		}
	}

	// .card-stock__btn

	&__btn {
		padding: 13px 32px;
		border-radius: 6px;
		@media (max-width: $md4+px) {
			font-size: 14px;
			line-height: 16px;
			padding: 10px 0px;
			width: 100%;
			text-align: center;
		}
	}

	// .card-stock__list

	&__list {
	}

	// .card-stock__item

	&__item {
	}
}
